@import '~@angular/material/theming';

// Create a config with the default typography levels.
$config: mat-typography-config();

@mixin app-component-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);

  :host() {
    background-color: map-get($primary, darker);
  }

  // div {
  //     background-color: map-get($primary, darker);
  // }

  mat-tab-group {
    background-color: map-get($primary, darker);
  }
}
