@import 'styles-variables';
@import '~font-awesome/scss/font-awesome';
@import '~@angular/material/theming';
@include mat-core();

@import 'themes/default-theme.scss';
@import 'themes/light-theme.scss';
@import 'themes/black-theme.scss';

@import 'app/app.component.scss-theme.scss';
@import 'app/dashboard/dashboard.component.scss-theme.scss';

@import '~@angular/material/theming';

@mixin custom-components-theme($theme) {
  @include app-component-theme($theme);
  @include dashboard-component-theme($theme);
}

.default-theme {
  @include angular-material-theme($app-theme);
  @include custom-components-theme($app-theme);
}

.light-theme {
  @include angular-material-theme($td-light-theme);
  @include custom-components-theme($td-light-theme);
}

.black-theme {
  @include angular-material-theme($td-black-theme);
  @include custom-components-theme($td-black-theme);
}

.dialog-panel {
  .mat-dialog-container {
    padding: 0;
    margin: 24px;
    box-shadow: 10px 10px 10px black !important;
  }
}
